@import "../../../node_modules/ionic2-auto-complete/auto-complete";

ion-auto-complete{
  width: 100%;
}

ion-item-divider#definition{
  font-weight: bold;
  color: white;
  background-color: darkslategray;
}

ion-item-divider#example{
  font-weight: bold;
  color: white;
  background-color: gray;
}

ion-item{
  font-size: 1.4rem !important;
}

ion-card.word_details {

  * {
    font-size: 1.6rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }

  ion-title.pos div {
    font-weight: 700;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #f15a24;
    padding-top: 15px;
  }

  ion-title.example_title div {
    color: black;
    font-weight: bold;
  }

  ion-label.example, ion-label.synonym {
    font-family: 'Merriweather', sans-serif;
    color: #000;
    font-style: italic;
    white-space: normal;
    padding-left: 16px;
  }

  ion-icon{
    font-family: Ionicons;
  }

  button ion-icon{
    margin: 10px 0 0 0 !important;
  }

  button div.item-inner{
    margin-left: 0 !important;
  }

  .subsense_definition{
    color: darkblue;
    font-weight: bold;
  }
}

page-home {
  .accordion-list {
    background: color($colors, light);
    height: 100%;
  }
  .section {
    background: #fff;
    color: #000;
    margin-bottom: 4px;
  }
  .section-active {
    background: #ffc400;
    color: #fff;
  }

  .child {
    background: #e8e7e6;
    color: #000;
    margin-bottom: 4px;
  }
  .child-item {
    background: #f3f2f1;
    padding: 10px;
  }

  .list {
    margin-bottom: 4px;
  }
}
