<ion-header>
  <ion-navbar>
    <ion-title>Dictionary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-auto-complete (itemSelected)="search()" [dataProvider]="autoCompleteProvider" [options]="{ placeholder : 'Search Word' }" #ActionWord></ion-auto-complete>
  <button ion-button full (click)="search()">Search</button>

  <ng-container *ngIf="WordDetails">
    <ion-card *ngFor="let details of WordDetails" class="word_details">
      <ion-item-divider id="definition" color="light">Definition</ion-item-divider>
      <ion-title class="pos">
        {{details.POS.toUpperCase()}}
      </ion-title>
      <ion-card-content>
        {{details.Definition}}
      </ion-card-content>

      <ion-title class="example_title" *ngIf="details.Examples.length>0">
        Examples
      </ion-title>
      <hr />
      <ion-list lines>
        <ion-item class="example" *ngFor="let examples of details.Examples">‘{{examples.Descr}}’</ion-item>
      </ion-list>
    </ion-card>
  </ng-container>

  <!--<ion-content padding>-->
    <!--<ion-list>-->
      <!--<ion-item class="text" *ngFor="let item of items | async">-->
        <!--{{item | json}}-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  <!--</ion-content>-->

</ion-content>


